/**
 * EVE Swagger Interface
 * An OpenAPI for EVE Online
 *
 * OpenAPI spec version: 0.5.5
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api

import io.swagger.client.model.GetRouteOriginDestinationNotFound
import io.swagger.client.model.InternalServerError
import io.swagger.client.ApiInvoker
import io.swagger.client.ApiException

import com.sun.jersey.multipart.FormDataMultiPart
import com.sun.jersey.multipart.file.FileDataBodyPart

import javax.ws.rs.core.MediaType

import java.io.File
import java.util.Date

import scala.collection.mutable.HashMap

class RoutesApi(val defBasePath: String = "https://esi.tech.ccp.is/latest",
                        defApiInvoker: ApiInvoker = ApiInvoker) {
  var basePath = defBasePath
  var apiInvoker = defApiInvoker

  def addHeader(key: String, value: String) = apiInvoker.defaultHeaders += key -> value 

  /**
   * Get route
   * Get the systems between origin and destination  --- Alternate route: &#x60;/legacy/route/{origin}/{destination}/&#x60;  Alternate route: &#x60;/dev/route/{origin}/{destination}/&#x60;  Alternate route: &#x60;/v1/route/{origin}/{destination}/&#x60;  --- This route is cached for up to 86400 seconds
   * @param destination destination solar system ID 
   * @param origin origin solar system ID 
   * @param avoid avoid solar system ID(s) (optional)
   * @param connections connected solar system pairs (optional)
   * @param datasource The server name you would like data from (optional, default to tranquility)
   * @param flag route security preference (optional, default to shortest)
   * @param userAgent Client identifier, takes precedence over headers (optional)
   * @param xUserAgent Client identifier, takes precedence over User-Agent (optional)
   * @return List[Int]
   */
  def getRouteOriginDestination(destination: Int, origin: Int, avoid: Option[List[Int]] = None, connections: Option[List[List[Int]]] = None, datasource: Option[String] /* = tranquility*/, flag: Option[String] /* = shortest*/, userAgent: Option[String] = None, xUserAgent: Option[String] = None): Option[List[Int]] = {
    // create path and map variables
    val path = "/route/{origin}/{destination}/".replaceAll("\\{format\\}", "json").replaceAll("\\{" + "destination" + "\\}",apiInvoker.escape(destination)).replaceAll("\\{" + "origin" + "\\}",apiInvoker.escape(origin))

    val contentTypes = List("application/json")
    val contentType = contentTypes(0)

    val queryParams = new HashMap[String, String]
    val headerParams = new HashMap[String, String]
    val formParams = new HashMap[String, String]

    avoid.map(paramVal => queryParams += "avoid" -> paramVal.toString)
    connections.map(paramVal => queryParams += "connections" -> paramVal.toString)
    datasource.map(paramVal => queryParams += "datasource" -> paramVal.toString)
    flag.map(paramVal => queryParams += "flag" -> paramVal.toString)
    userAgent.map(paramVal => queryParams += "user_agent" -> paramVal.toString)
    
    xUserAgent.map(paramVal => headerParams += "X-User-Agent" -> paramVal)

    var postBody: AnyRef = null

    if (contentType.startsWith("multipart/form-data")) {
      val mp = new FormDataMultiPart
      postBody = mp
    } else {
    }

    try {
      apiInvoker.invokeApi(basePath, path, "GET", queryParams.toMap, formParams.toMap, postBody, headerParams.toMap, contentType) match {
        case s: String =>
           Some(apiInvoker.deserialize(s, "array", classOf[Int]).asInstanceOf[List[Int]])
        case _ => None
      }
    } catch {
      case ex: ApiException if ex.code == 404 => None
      case ex: ApiException => throw ex
    }
  }

}
